#spilled_milk {
    background-image: url('/static/images/spilled_milk.png');
    background-repeat: no-repeat;
    background-size: 30% auto;
    height: 300px;
    margin-left: 34%;
  }

.main_container {
    margin-top: 100px;
}

h3 {
    height: 80px;
    padding-top: 40px;
}

.btn {
    color: white;
    font-size: 20px;
    background-color: rgb(42,195,193) !important;
  }
  
  .btn:hover {
    color: white;
    background-color: rgb(38,135,132) !important;
  }