{% extends "layout.html" %}
{% block nav_item_shops %}active{% endblock nav_item_shops %}

{% block stylesheet %}
<link rel=stylesheet type=text/css href="/static/stylesheets/shops.css">
{% endblock %}


{% block content %}

<div class="row">

  <div class="col-sm-5 table-scroll pr-0">
    <div id="shop-table">
      <table class="table table-bordered table-striped table-light">
        {% for shop in shops %}
        <tr>
          <div class="card" id="shopid{{ loop.index }}">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-5 pt-3">
                  <div class="row">
                    <img src="/static/images/cups_straws.jpg" style="width:100%; height:auto;">
                  </div>
                  <div class="row">
                    <form action="{{ url_for('shops') }}" method=post>
                      <input type="hidden" name="name" value="{{ shop.name }}">
                      <button type="submit" class="btn btn-light btn-block" value="Form" >Delete</button>
                    </form>
                  </div>
                </div>
                <div class="col-sm-7">
                  <a  class="name_links" href="{{ shop.website }}">{{ loop.index }}. {{ shop.name }}</a> <br>
                  {% for i in range(shop.rating) %}
                  <span class="fa fa-star checked"></span>
                  {% endfor %}
                  {% for i in range(5 - shop.rating) %}
                  <span class="fa fa-star"></span>
                  {% endfor %} <br>
                  <div class="card-text">
                    {{ shop.street }} <br>
                    {{ shop.city }}, {{ shop.state }} {{ shop.zip }} <br>
                    {{ shop.phone }} <br>
                    <b>Hours:</b> {{ shop.open_hr }} - {{ shop.close_hr }} <br>
                    <b>Signature Drink:</b> {{ shop.drink }} <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div id="map" class="col mr-4"></div>

</div>

<script type="text/javascript">
    $('.card').hover(
      function(){ $(this).addClass('border-info') },
      function(){ $(this).removeClass('border-info') }
    )
</script>

<script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 45.523064, lng: -122.676483},
        zoom: 12
      })

      var marker = [];
      var infowindow = [];
      var obj;
      var mapContent;
      var temp_locations = [
        {lat: 45.5113875, lng: -122.6877654},
        {lat: 45.5076607, lng: -122.7330264},
        {lat: 45.527706, lng: -122.661974},
        {lat: 45.517461, lng: -122.655665},
        {lat: 45.5044377, lng: -122.7129468}
      ]

    {% for shop in shops %}
      mapContent =
      '<div class="card transparent-border" id="mapid{{ loop.index }}">' +
        '<div class="card-body px-0 pt-2 pb-0">' +
          '<div class="row">' +
            '<div class="col">' +
              '<h5 class="card-text">{{ loop.index }}. {{ shop.name }}</h5>';
                for(var j = 0; j < {{ shop.rating }}; ++j) {
                  mapContent += '<span class="fa fa-star checked"></span>';
                }
                for(var j = 0; j < (5 - {{ shop.rating }}); ++j) {
                  mapContent += '<span class="fa fa-star"></span>';
                }
            '</div>' +
          '</div>' +
        '</div>' +
      '</div>';
</script>


{% endblock %}
