{% extends "layout.html" %}

{% block stylesheet %}
<link rel=stylesheet type=text/css href="/static/stylesheets/reviews.css">
{% endblock %}

{% block content %}
<div>
  <div class="container" id="shop_bg">
    <h1>
      <center>{{ shop_name }}</center>
    </h1>
  </div>
  <div class="dropdown">
    <button class="btn btn-sm btn-secondary dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Translate Reviews
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/ar">Arabic</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/bn">Bengali</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/zh">Chinese</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/hr">Croatian</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/da">Danish</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/en">English</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/fr">French</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/de">German</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/fr">French</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/he">Hebrew</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/ga">Irish</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/ja">Japanese</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/ko">Korean</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/la">Latin</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/pt">Portuguese</a></p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone }}/ru">Russian</a></p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone}}/es">Spanish</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone}}/th">Thai</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone}}/uk">Ukrainian</a>
      </p>
      <p><a class="dropdown-item" href="/translation/{{ shop_name }}/{{ shop_phone}}/vi">Vietnamese</a>
      </p>
    </div>
  </div>
  <div class="container marketing">
    <div class="row">
      {% for review in yelp_reviews %}
      <div class="col-lg-4">
        <img src="{{ review.user_img }}" id="user_img">
        <h3>{{ review.user_name }}</h3>
        <i>{{ review.date }}</i>
        <p>{{ translation.translations[loop.index-1].translatedText }}</p>
        <p><a class="btn btn-md" href="{{ review.url }}" role="button" target="_blank">View on Yelp</a></p>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock %}